<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="/css/bootstrap.min.css"/>

</head>
<body>
<h3>test</h3>
<p class="text-center alert-dark">BU BİR HOME INDEX SAYFASIDIR</p>
</body>
</html>